<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <!--<link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
      <!-- 左側の表示領域 -->
      <div class="left-parts-area">
        <div class="left-parts-area-top">
        </div>
        
        <div class="left-parts-area-bottom">
          <div class="left-controller-up">
            <input type="button" class="left-parts-button-up" onclick="doSend(1)">
          </div>
          <div class="left-controller-left-right">
            <input type="button" class="left-parts-button-left"  onclick="doSend(2)">
            <input type="button" class="left-parts-button-right" onclick="doSend(3)">
          </div>
          <div class="left-controller-down">
            <input type="button" class="left-parts-button-down"  onclick="doSend(4)">
          </div>
        </div>
        
      </div>
      
      <!-- 中央の表示領域 -->
      <div class="center-parts-area">
        <div class="center-head-area">
          <input type="button" class="reset-button"  onclick="doSend('reset')">
        </div>
        <div class="center-body-area">
          <div class="screen-body">
            <!--<iframe src="https://www.google.com/" width="100%" height="70%"></iframe>-->
            <video src="index.m3u8" width="100%" height="70%" controls></video>
          </div>
        </div>
      </div>
      
      <!-- 右側の表示領域 -->
      <div class="right-parts-area">
        <div class="right-parts-area-head">
        </div>
        <div class="right-parts-area-top">
          <div class="area-size">
            <div class="button-area-size">
            </div>
            <div class="button-area-size">
              <input type="button" class="right-parts-button-up"  onclick="doSend(5)">
            </div>
            <div class="button-area-size">
            </div>
          </div>
          <div class="area-size">
            <div class="button-area-size">
              <input type="button" class="right-parts-button-turnleft"  onclick="doSend(6)">
            </div>
            <div class="button-area-size">
            </div>
            <div class="button-area-size">
              <input type="button" class="right-parts-button-turnright"  onclick="doSend(7)">
            </div>
          </div>
          <div class="area-size">
            <div class="button-area-size">
            </div>
            <div class="button-area-size">
              <input type="button" class="right-parts-button-down"  onclick="doSend(8)">
            </div>
            <div class="button-area-size">
            </div>
          </div>
          
          
        </div>
        <div class="right-parts-area-bottom">
          <div class="right-bottom-front"> 
            <input type="button" class="right-parts-button-front"  onclick="doSend(9)">
          </div>
          <div class="right-bottom-back">
            <input type="button" class="right-parts-button-back"  onclick="doSend(10)">
          </div>
        </div>
        
      </div>
      
      
      
      
      
      

      <!--
          ボタン表示サンプル
          <div class="sample">
            <a>XXX</a>
          </div>
      -->
      
      
      
      
      
      
    
      <!--<<form>
        <input name="dream" type="text" maxlength="100" placeholder="Task" aria-labelledby="submit-dream">
        <button type="submit" id="submit-dream">Add</button>
        
      </form>
      
      <section class="dreams">
        <ul id="dreams"></ul>
      </section>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>-->

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
